@font-face {
  font-family: myFirstFont;
  src: url(../fonts/jd.ttf);
}

html,
body {
  height: 100%;
  color: white;
  background: repeating-linear-gradient(
    90deg,
    #1D1D1B,
    #1D1D1B 10px,
    #222222 10px,
    #222222 20px
  );
  /* background-color: #1D1D1B; */
  text-align: center;
  font-family: myFirstFont;
  font-size: 24px;
}

h1 {
}

.main-logo { 
  filter: drop-shadow(3px 3px 3px #FA84FF); 
  max-width: 350px; 
  height: auto; 
} 

.main-content {
    display: table-cell;
    vertical-align: middle;
}

a {
  color: #FA84FF;
  text-decoration: none;
}